{% extends 'base/base.html' %}
{% load static %}
{% block stylesheets %}
<link href="{% static 'act/css/listar_educativas.css' %}" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

{% block title %}Actividades Educativas{% endblock %}

{% block background %}{% static 'act/img/activi.jpg' %}{% endblock %}

{% block headers %}<h1>Lista de Actividades Educativas</h1>{% endblock %}

{% block content %}

<div class="row ml-0 mb-3">
    <a href="{% url 'actividades:activi' %}">
        <button type="button" class="btn btn-info font-weight-bold" style= "cursor: pointer;">
            <i class="fas fa-long-arrow-alt-left mr-2"></i>
            VOLVER
        </button>
    </a>
</div>

<div class="row ml-0 mb-3">
    <a href="{% url 'actividades:agregar_act' %}">
        <button type="button" class="btn btn-info font-weight-bold" style= "cursor: pointer;">
            <i class="fas fa-long-arrow-alt-left mr-2"></i>
            AGREGAR ACTIVIDAD 
        </button>
    </a>
</div>


<div class="content-container">
    <form method="get" action="{% url 'actividades:lista_educativa' %}">
        <div class="search-bar">
            <input type="text" name="q" class="form-control" placeholder="Buscar" value="{{ query }}" id="search-input">
        </div>
    </form>

    <div id="custom-table" class="table-responsive">
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Miembro</th>
                    <th>Categoria</th>
                    <th>Maestro</th>
                    <th>Clase</th>
                    <th>Curso</th>
                    <th>Estado</th>
                    <th>Fecha Inicio</th>
                    <th>Duracion</th>
                    <th>Fecha Finalización</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for act in actividades %}
                    <tr>
                        <td>{{ act.miembroa.nombre }} {{ act.miembroa.apellido }}</td>  
                        <td>{{ act.categoria.nombre }}</td> 
                        <td>{{ act.maestro.nombre }}</td>
                        <td>{{ act.clase.nombre }}</td>        
                        <td>{{ act.curso.nombre }}</td>      
                        <td>{{ act.status.nombre }}</td>    
                        <td>{{ act.fechainicio }}</td>
                        <td>{{ act.duracion }} {{ act.tiempo.nombre }}</td>    
                        <td>{{ act.fechafin }}</td>
                        <td class="acciones">
                            <div>
                                <a href="{% url 'actividades:actividad_actuali' act.id %}" class="btn btn-success" title="Actualizar miembro">
                                    <i class="fas fa-pen"></i> ACTUALIZAR
                                </a>
                                <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#eliminarMiembro{{act.id}}">
                                   ELIMINAR
                                </a>
                            </div>

                            <div class="modal fade" id="eliminarMiembro{{act.id}}" tabindex="-1" aria-labelledby="exampleModalLabel{{ act.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">  
                                            <h5 class="modal-title" id="exampleModalLabel{{ act.id }}">Eliminar Miembro</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Está seguro que desea eliminar al Miembro:{{ miembro.nombre }}{{ act.miembroa.apellido }}, de la actividad asignada?
                                        </div>
                                        <div class="modal-footer">
                                            <button style="cursor: pointer;" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <a id="updateThisURL" rel="delete" href="{% url 'actividades:eliminar_actividad' act.id %}" class="btn btn-danger text-decoration-none">Eliminar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
{% block javascripts %}
<script src="{% static 'tables/js/jquery-3.7.0.js' %}"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const searchInput = document.getElementById('search-input');
    const tableRows = document.querySelectorAll('.custom-table tbody tr');

    searchInput.addEventListener('input', function () {
        const query = searchInput.value.toLowerCase();

        tableRows.forEach(function (row) {
            const cells = row.querySelectorAll('td');
            let found = false;

            cells.forEach(function (cell) {
                const cellText = cell.innerText.toLowerCase();
                if (cellText.includes(query)) {
                    found = true;
                }
            });

            if (found) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
});
</script>
{% endblock javascripts %}