{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% block stylesheets %}
    <link href="{% static 'log/css/login.css' %}" rel="stylesheet" type="text/css">
    {% endblock stylesheets %}
</head>
<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div id="text-center card-header">
                                        <div class="logo-container">
                                            <img id="preview-image" alt="Archivo binario" src="{% static 'log/img/logo.png' %}" style="height: 280px; width: 300px; background-color: #4e73df;">
                                            <div id="welcome-text">Bienvenido</div>
                                        </div>
                                    </div>
                                    {% if msg %}
                                    <div class="mb-3 text-danger text-center">{{ msg | safe }}</div>
                                    {% endif %}
                                    <form class="user" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{ form.username }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.password }}
                                        </div>
                                        <button style= "cursor: pointer;"  type="submit" name="login" class="btn btn-primary btn-user btn-block">INGRESAR</button>
                                    </form>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>